.Header {
    background: #F7C601;
    padding: 2rem;
}

.Header p {
    font-size: 4rem;
    background: black;
    color: white;
    border-bottom: 5px solid red;
    display: flex;
    padding: 0 1rem;
    display: inline-block;
}
